annotated-types==0.7.0
anyio==4.9.0
appdirs==1.4.4
asttokens==2.4.1
baron==0.10.1
cbor2==5.6.5
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.1.7
distconfig3==1.0.1
dotenv==0.9.9
exceptiongroup==1.3.0
fastapi==0.115.12
h11==0.16.0
idna==3.10
importlib_metadata==8.5.0
inflection==0.5.1
injector==0.22.0
Jinja2==3.1.4
MarkupSafe==3.0.2
packaging==23.2
pir @ git+https://github.com/capimichi/pir@116de10a583439e7973ea64da52b0b05d9257a5c
pycryptodome==3.21.0
pydantic==2.11.5
pydantic_core==2.33.2
python-dotenv==1.0.1
PyYAML==6.0.2
redbaron @ git+https://github.com/PyCQA/redbaron@9b4a1825d160269815ca7bc90f55fff8a5e76e29
requests==2.32.3
rply==0.7.8
six==1.16.0
sniffio==1.3.1
starlette==0.46.2
toml==0.10.2
typing-inspection==0.4.1
typing_extensions==4.13.2
urllib3==2.4.0
uvicorn==0.34.2
vyper-config @ git+https://github.com/alexferl/vyper@a0a6ea7f84544e598dd326a5fe8389346f59c64d
watchdog==6.0.0
yt-dlp==2025.5.22
zipp==3.21.0
